@import "tailwindcss";

@theme {
  --breakpoint-mmd:375px;
  --breakpoint-mlg:425px;
  --breakpoint-4k:2560px;

}

@theme {
  
  --color-brand-cream: #eee1bf;
  --color-brand-orange: #e4531e;
  --color-brand-green: #538c42;
}

@font-face {
  font-family: 'HouseOfCardsBold';
  src: url('/font/FontsFree-Net-House-of-cards-W03-Bold.ttf') ;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: 'ROBOTOSLABBold';
  src: url('/font/ROBOTOSLAB-BOLD.TTF') ;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: 'ROBOTOSLABRegular';
  src: url('/font/ROBOTOSLAB-REGULAR.TTF') ;
  font-style:normal;
  font-display: swap;
}

.houseofcards_bold {
  font-family: 'HouseOfCardsBold', sans-serif;
}
.robotolab_bold {
  font-family: 'ROBOTOSLABBold', sans-serif;
}
.robotolab_regular {
  font-family: 'ROBOTOSLABRegular', sans-serif;
}
.text-stroke-green {
  -webkit-text-stroke: 1px #538c42; 
}
.text-shadow-orange {
  text-shadow: 0px 2px 0 #E4531E;
}
.stroke-text {
  -webkit-text-stroke: 1px #538c42;
  color: transparent;
}

